{% extends 'shop_main.html' %}

{% block title %}
    {{ super() }} - {{ title }}
{% endblock %}

{% block content %}
    <div>
        <h1>Наша компания предлагает</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet autem cumque, dolor ea error facere,
            laboriosam laudantium maiores nihil optio similique veniam! Autem ducimus eligendi facere facilis
            provident!</p>
        <img src="/static/img/cloth.jpg" alt="">
    </div>
    <div>
        <a href="shop_main">Вернуться на главную</a>
    </div>
{% endblock %}