{% extends 'base.html' %}

{% block title %}
    {{ super() }} - {{ title }}

{% endblock %}

{% block content %}
    <div>
        <div>
            <h1>Мы компания "Рога и копыта"</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid consequatur cupiditate debitis
                dignissimos, distinctio doloremque facilis ipsam, laboriosam maiores maxime minus non quaerat quas quo
                rem reprehenderit sequi vitae.</p>
            <p>Adipisci asperiores deserunt dicta iure nesciunt quaerat quia reiciendis. Alias aperiam architecto cum
                debitis iure molestiae, quae sequi voluptate? Animi obcaecati odio perferendis! Doloribus eligendi est
                libero nam natus qui?</p>

        </div>
    </div>

{% endblock %}