{% extends 'new_base.html' %}

{% new_block ref %}
<div>
            <h1>Страница Авторизации</h1>
            <ul>
                <li>
                    <link rel="stylesheet" href="">Имя
                </li>
                <li>
                    <link rel="stylesheet" href="">Возраст
                </li>
                <li>
                    <link rel="stylesheet" href="">Отправить
                </li>
                <li>
                    <link rel="stylesheet" href="/">На главную
                </li>
            </ul>
        <a href="/"> На главную</a>
</div>


{% endblock %}
